button{
    background-color: rgb(68, 255, 0); 
    /* background: linear-gradient(45deg,rgb(82, 82, 248), lightblue); */
    color: white;
    width: 75px;
    height: 25px;
    border: none;
}
body{
    /* background: linear-gradient(rgb(82, 82, 248), lightblue); */
}